 .productos {
     max-width: 1200px;
     /* margin: 2rem auto; */
     padding: 80px;
 }

 .producto {
     display: flex;
     align-items: center;
     margin: 2rem 0;
     background: rgb(241, 239, 234);
     border-radius: 8px; 
 }

 :root {
     --font-heading: 'Oswald', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
 }

 .producto .texto {
     width: 500px;
 }
  
 .producto .descripcion .texto h1 {
     z-index: 5;   
     position : relative;
     justify-self: center;
     font-family: var(--font-heading);
     font-weight: 700;
     letter-spacing: 0.02em;
     text-transform: uppercase;
     margin: 0 0 .0rem;
     line-height: 1.5;
     color: #3d3d3dc7;
     display: block;
     white-space: nowrap; 
     overflow: hidden; 
     font-size: 70px;  
     /* nunca sobrepasa el contenedor */
     line-height: 1.2;
     margin: 0;
 }


 hr {
     width: 90%;
 }

 .btn-modern {
     position: relative;
     margin-left: 0;
     margin-bottom: 20px;
     margin-left: -250px;
     background: #84a1ff;
     color: white;
     font-weight: bold;
     border: none;
     border-radius: 8px;
     cursor: pointer;
     font-size: 25px;
     width: 200px;
     height: 60px;
     overflow: hidden;
     z-index: 1;
     transition: transform 0.3s ease, color 0.3s ease;
 }

 .btn-modern::before {
     content: '';
     position: absolute;
     top: 50%;
     left: 50%;
     width: 0;
     height: 100%;
     background-color: #3161ff;
     transform: translate(-50%, -50%);
     border-radius: 0%;
     transition: width 0.3s ease;
     z-index: -1;
 }

 .btn-modern:hover::before {
     width: 100%;
 }

 .btn-modern:hover {
     color: white;
 }

 .producto .texto li {
     margin-left: 25px;
     font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
     margin: 0.6rem 0 0;
     color: #1d1d1dc7;
     line-height: 1;
     font-size: 18px;
 }

 .producto .imagen img {
     flex: 1;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     max-width: 700px;
     height: auto;
     border-radius: 8px;
     object-fit: cover;
     display: block;
     position: relative;
     z-index: 0;
     margin: 0;
 }

 .descripcion {
     height: 500px;
     display: flex;
     align-content: center;
     flex-direction: column;
     justify-content: space-between;
     flex-wrap: wrap;
     align-items: center;
 }

 .marcas {

     font-family: var(--font-heading);
     font-weight: 700;
     letter-spacing: 0.02em;
     text-transform: uppercase;
     text-align: center;
     font-size: 80px;
     color: #3d3d3dc7;
     background-color: rgb(241, 239, 234);
     width: 100%;
     box-shadow: 0px 12px 0px 5px rgb(175, 175, 175);
     margin-bottom: 1px;
 }


 .carousel-fade {
     position: relative;
     width: 700px;
     height: 500px;
     margin: 0 auto;
     overflow: hidden;
 }

 .carousel-fade img {
     border-top-right-radius: 8px;
     border-bottom-right-radius: 8px;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     opacity: 0;
     transition: opacity 1s ease-in-out;
 }

 .carousel-fade::after {
     content: "";
     position: absolute;
     inset: 0;
     z-index: 1;
     background: linear-gradient(to left, rgba(248, 248, 248, 0) 40%, rgb(241, 239, 234) 95%);
     pointer-events: none;
 }

 .carousel-fade img.active {
     opacity: 1;
 }


 @media (max-width: 800px) {
     .producto {
         flex-direction: column;
         text-align: left;
     }

     .producto .imagen img {
         max-width: 100%;
         height: auto;
     }

     .carousel-fade {
         height: 300px;
         /* menor altura en móvil */
     }

     .carousel-fade img {
         height: 100%;
     }

     .producto .imagen::after {
         display: none;
     }
 }

 model-viewer {
     width: 100%;
     justify-self: center;
 }

 .vector-gallery {
     overflow: hidden;
     width: 100%;
     background: #f1efea;
 }

 .vector-carousel {
  display: flex;
  align-items: center;
  will-change: transform;
  transform: translateZ(0);
}


.vector-item {
  flex: 0 0 auto;
  width: 140px;   /* todos iguales */
  height: 50px;   /* misma altura */
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 10px
}

.vector-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* animación usa variable --scroll (JS la define) */
@keyframes scroll {
  from { transform: translate3d(0,0,0); }
  to   { transform: translate3d(var(--scroll),0,0); }
}

 /*  
 @media (max-width: 800px) {
     .vector-item {
         width: 150px;
         height: 150px;
     }
 } */