body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  color: white;
  background-color: rgb(49, 0, 0);
  /* Fondo: imagen + gradiente */
  /* background-image:
    url('logoFgRot2.png');
    /* patrón de imagen */
    /* radial-gradient(circle, #ff1f1f, #000000); */
  /* gradiente de fondo */

  background-repeat: repeat, no-repeat;
  /* patrón se repite, gradiente no */
  background-size: 40px 40px, cover;
  /* tamaño de patrón y gradiente */
  background-position: 0 0, center;
  /* posición de cada capa */

  /* Animación para mover el patrón  
  animation: moverPatron 10s linear infinite; */
}

@keyframes moverPatron {
  0% {
    background-position: 0 0, 0 40px;
  }

  100% {
    background-position: 40px 40px, 0px 0px;
    /* mueve ambas capas en la misma dirección diagonal */
  }
}

header {
  /* background: linear-gradient(0.25turn, rgb(255, 206, 206), transparent); */
  /* padding: 1.5rem; */
  background-color: rgb(241 239 234);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #927d7d;
}

.header1 {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}

.nombre {
  font-size: 20px;
  color: #000000;
}

nav a {
  font-family: 'Nunito', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 1rem;
  text-decoration: none;
  color: #000000;
}

nav a:hover {
  color: rgb(66, 66, 66);
}

.icono-carrito {
  margin-left: 1rem;
  fill: currentColor;
  /* toma el color del texto */
  stroke: none;
  /* sin borde */
  vertical-align: middle;
  color: #000000;
}

.icono-carrito:hover {
  margin-left: 1rem;
  fill: currentColor;
  /* toma el color del texto */
  stroke: none;
  /* sin borde */
  vertical-align: middle;
  color: rgb(100, 100, 100);
}

.header-video {
  position: relative;
  width: 10%;
  height: 10%;
}

.categorias {
  display: flex;
  width: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.178);
}

.boton {
  margin-left: 20px;
  margin-bottom: 0px;
  position: relative;
  overflow: hidden;
  /* para que el pseudo no se salga */
  background: rgba(160, 160, 160, 0.5);
  /* removed backdrop-filter blur */
  /* padding: 1.5rem; */
  border-radius: 0.2rem;
  /* box-shadow: 0 2px 6px rgba(155, 155, 155, 0.5); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 50%;
  height: 85%;
}

/* capa de relleno */
.boton::before {
  content: "";
  position: absolute;
  inset: 0;
  /* ocupa todo el div */
  background: rgba(255, 200, 200, 0.15);
  /* color de relleno */
  transform: scaleY(0);
  /* empieza vacío */
  transform-origin:top;
  /* arranca de la izquierda */
  transition: transform 0.6s ease;
  /* duración del relleno */
  z-index: 0;
}

/* cuando haces hover, el relleno crece */
.boton:hover::before {
  transform: scaleY(1);
}

.boton:hover h3 {
  color: white;
}

/* aseguro que el contenido quede arriba */

.boton h3 {
  position: relative;
  z-index: 1;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  justify-self: center;
  color: rgb(172, 172, 172);
}

footer {
  padding: 1.5rem;
  text-align: center;
  border-top: 1px solid #9e8a8a;
  color: #b4b4b4;
}

.container {
  left: auto;
}