body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  color: rgb(255, 218, 218);
  background-color: #e4e4e4c7;  
} 

header { 
  background-color: rgb(241, 239, 234);
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #927d7d;
}

.header1 { 
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.nombre {
  font-size: 20px;
  color: #000000;
  font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}

nav a {
  font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 1rem;
  text-decoration: none;
  color: #000000;
}

nav a:hover {
  color: rgb(66, 66, 66);
}

.icono-carrito {
  margin-left: 1rem;
  fill: currentColor;
  /* toma el color del texto */
  stroke: none;
  /* sin borde */
  vertical-align: middle;
  color: #000000;
}

.icono-carrito:hover {
  margin-left: 1rem;
  fill: currentColor;
  /* toma el color del texto */
  stroke: none;
  /* sin borde */
  vertical-align: middle;
  color: rgb(100, 100, 100);
}

.header-video {
  position: relative;
  width: 10%;
  height: 10%;
}
 

footer {
  padding: 1.5rem;
  text-align: center;
  border-top: 1px solid #9e8a8a;
  color: #b4b4b4;
}

.container {
  left: auto;
}